body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bona Nova SC", serif;
    font-size: large;
}


.canvasBorder {
    background-color: #d10000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 650px;
    flex-direction: column;
    font-size:xx-large;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.text {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-style: italic;
    color: #ceaf03;
    font-weight: bold;
    text-shadow: 1px 1px #9b8402;
}
.text .etchText {
    font-family: "Cedarville Cursive", cursive;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 512px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.grid {
    outline: 1px solid black;
}


.knobs {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-top: 20px;
    margin-bottom: -35px;
}

.knobLeft,
.knobRight {
    background-color: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 3px solid #aaa;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.knobLeft {
    margin-left: 10px;
}

.knobRight {
    margin-right: 10px;
}

.tools {
    margin-right: 20px;
    font-size: x-large;
}

.tools > div {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.topColors,
.bottomColors {
    display: flex;
    flex-direction: row;
}

.topColors button,
.bottomColors button {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin: 2.5px 5px;
}

input {
    width: 50px;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rainbow {
  background:linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet);
  width:500px;
  height:500px;
}
